<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <div>
        <ul>
            <li v-for="item in info">{{item}}</li>
        </ul>

        <ul>
            <li v-for="(item,index) in info">{{index}}:{{item}}</li>
        </ul>

        <ul>
            <li v-for="(value,key) in info">{{key}}:{{value}}</li>
        </ul>
    </div>



</div>
<script src="../js/vue.js"></script>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            info:{
                name:"丰绅殷德",
                age:48,
                gender:"男"
            }
        }
    })
</script>
</body>
</html>