<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="app">
    <div>
        <!--1.选择一个-->
        <select name="fruit" id="fruit" v-model="fruit">
            <option value="苹果">苹果</option>
            <option value="草莓">草莓</option>
            <option value="榴莲">榴莲</option>
            <option value="香蕉">香蕉</option>
        </select>
        <div>您选择的水果是：{{fruit}}</div>

        <!--2.选择多个-->
        <select name="fruit" v-model="fruits" multiple><!--multiple就可以多选，但是得按住Ctrl健点击多个-->
            <option value="苹果">苹果</option>
            <option value="草莓">香蕉</option>
            <option value="榴莲">榴莲</option>
            <option value="香蕉">草莓</option>
        </select>
        <div>您选择的水果是：{{fruits}}</div>
    </div>
</div>
<script src="../js/vue.js"></script>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            fruit: '香蕉',
            fruits:[]
        }
    })
</script>
</body>
</html>